## Pandas ``read_sql``

Para no realizar la conexion manualmente se hará con SQLAlchemy

https://docs.sqlalchemy.org/en/20/

Desde sqlAlchemy importamos create_engine, que es lo que nos va a permitir crear la conexión a la DB

Instalo pymysql

In [27]:
pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.1.1-py3-none-any.whl.metadata (4.4 kB)
Downloading PyMySQL-1.1.1-py3-none-any.whl (44 kB)
Installing collected packages: pymysql
Successfully installed pymysql-1.1.1
Note: you may need to restart the kernel to use updated packages.

In [29]:
import pandas as pd
import sqlalchemy
from sqlalchemy import create_engine
print('sqlalchemy version', sqlalchemy.__version__)

sqlalchemy version 2.0.34

Creo un string conexion con los datos de la db,  
y un engine con la conexion.
Directamente con pandas puedo sacar los datos a un dataframe

In [24]:
con_string = 'mysql+pymysql://root:college@localhost/employees'
engine = create_engine(con_string)

query = """
    SELECT *
    FROM employees e
    JOIN salaries s
    ON e.emp_no = s.emp_no
    WHERE e.hire_date > '1999-01-01';
"""
# creo un dataframe al que le paso el lector pandas con el query a ejecutar y el engine
df_read_sql = pd.read_sql(query, engine)

ModuleNotFoundError: No module named 'pymysql'

In [22]:
df_read_sql

NameError: name 'df_read_sql' is not defined

In [1]:
import mysql.connector

connection = mysql.connector.connect(
    user='root',
    password='college',
    host='localhost',
    database='employees',
    ssl_disabled=True
)
cursor = connection.cursor()
query = """
    SELECT *
    FROM employees e
    JOIN salaries s
    ON e.emp_no = s.emp_no
    WHERE e.hire_date > '1999-01-01';
"""
cursor.execute(query)
results = []
for i, data in enumerate(cursor):
    results.append(data)
cursor.close()
connection.close()

In [5]:
len(results)

4853