# Acceso a datos de Dataframe con iloc y loc
Estos métodos permiten seleccionar subconjuntos de datos de diferentes maneras, ya sea por posición o por etiqueta, respectivamente.
**Diferencias clave entre iloc y loc**  
* Tipo de acceso:  

iloc utiliza índices de posición (enteros).  
loc utiliza etiquetas (nombres de las filas y columnas).  
* Inclusividad de los rangos:  

iloc excluye el límite superior del rango.  
loc incluye el límite superior del rango.  
* Compatibilidad con índices:  

iloc es útil cuando se trabaja con índices numéricos o cuando no se desea depender de las etiquetas.  
loc es ideal cuando se trabaja con índices etiquetados que tienen significado semántico.

## ``iloc``: acceso por posición
iloc permite acceder a las filas y columnas de un DataFrame utilizando índices de posición, similar a cómo se accede a los elementos de una lista o array en Python. Los índices de posición son enteros que comienzan desde 0.

### Seleccionar una fila específica por su posición:

In [5]:
import pandas as pd

data = {'Nombre': ['Ana', 'Luis', 'Marta'], 'Edad': [23, 35, 29]}
df = pd.DataFrame(data)

# Seleccionar la primera fila
print(df.iloc[0])

Nombre    Ana
Edad       23
Name: 0, dtype: object

### Seleccionar un rango de filas:

In [13]:
# Seleccionar las primeras dos filas
print(df.iloc[0:2])

  Nombre  Edad
0    Ana    23
1   Luis    35

### Seleccionar filas y columnas específicas:

In [11]:
# Seleccionar la primera fila y la segunda columna
print(df.iloc[0, 1])

23

### Seleccionar un rango de filas y columnas:

In [16]:
# Seleccionar las dos primeras filas y las dos primeras columnas
print(df.iloc[0:2, 0:2])

  Nombre  Edad
0    Ana    23
1   Luis    35

### Seleccionar múltiples filas y columnas con iloc:

In [34]:
# Seleccionar las dos primeras filas y las dos primeras columnas
print(df.iloc[0:2, 0:2])

        Edad
Nombre
Ana       23
Luis      35

#### Seleccionar múltiples filas y columnas con **loc**

In [37]:
# Restablecer índice para usar etiquetas
df.reset_index(inplace=True)

# Seleccionar filas por etiquetas y columnas por nombres
print(df.loc[0:1, ['Nombre', 'Edad']])

  Nombre  Edad
0    Ana    23
1   Luis    35

## ``loc``: acceso por etiqueta
loc permite acceder a las filas y columnas de un DataFrame utilizando las etiquetas de los índices y nombres de las columnas. Es útil cuando se trabaja con etiquetas significativas en lugar de posiciones numéricas.

###  Filtrado de datos con condiciones utilizando loc:

In [41]:
# Filtrar filas donde la edad es mayor de 25
print(df.loc[df['Edad'] > 25])

  Nombre  Edad
1   Luis    35
2  Marta    29

### Selección con condiciones complejas:

In [44]:
# Seleccionar filas donde la edad es mayor de 25 y el nombre es 'Luis'
print(df.loc[(df['Edad'] > 25) & (df['Nombre'] == 'Luis')])

  Nombre  Edad
1   Luis    35

### Seleccionar una fila específica por su etiqueta:

In [20]:
# Establecer 'Nombre' como índice
df.set_index('Nombre', inplace=True)

# Seleccionar la fila correspondiente a 'Ana'
print(df.loc['Ana'])

Edad    23
Name: Ana, dtype: int64

### Seleccionar un rango de filas por etiquetas:

In [23]:
# Seleccionar las filas correspondientes a 'Ana' y 'Luis'
print(df.loc['Ana':'Luis'])

        Edad
Nombre
Ana       23
Luis      35

### Seleccionar filas y columnas específicas por etiquetas:

In [26]:
# Seleccionar la fila correspondiente a 'Ana' y la columna 'Edad'
print(df.loc['Ana', 'Edad'])

23

### Seleccionar un rango de filas y columnas por etiquetas:

In [29]:
# Seleccionar las filas de 'Ana' a 'Luis' y las columnas 'Edad'
print(df.loc['Ana':'Luis', 'Edad'])

Nombre
Ana     23
Luis    35
Name: Edad, dtype: int64