# Tablas pivotantes

Las tablas pivotantes en Pandas son una herramienta esencial para reorganizar y resumir grandes conjuntos de datos de manera eficiente.  
Utilizando la función ``pivot_table()``, se pueden transformar datos en una tabla de resumen que permite observar patrones y relaciones más fácilmente.  
La función ``pivot_table()`` es muy flexible y admite múltiples opciones de configuración para adaptarse a diferentes necesidades analíticas.

La estructura básica de una tabla pivotante se define mediante los parámetros index, columns y values, que especifican las dimensiones y las métricas de la tabla.

In [5]:
import pandas as pd

df = pd.DataFrame({
    'A': ['foo', 'bar', 'foo', 'bar', 'foo', 'bar'],
    'B': ['one', 'one', 'two', 'two', 'one', 'one'],
    'C': [1, 2, 3, 4, 5, 6],
    'D': [2.5, 3.5, 4.5, 5.5, 6.5, 7.5]
})

tabla_pivotante = df.pivot_table(values='D', index='A', columns='B', aggfunc='mean')
# Resultado: DataFrame con la media de 'D' para cada combinación de 'A' y 'B'
print(tabla_pivotante)

B    one  two
A
bar  5.5  5.5
foo  4.5  4.5

El parámetro ``aggfunc`` en el ejemplo anterior especifica la función de agregación que se aplicará a los datos. Pandas soporta varias funciones de agregación, como mean, sum, min, max, entre otras. También es posible utilizar funciones de agregación personalizadas.

Para agregar múltiples métricas en la tabla pivotante, se puede pasar una lista al parámetro values:

In [9]:
tabla_pivotante_multiple = df.pivot_table(values=['C', 'D'], index='A', columns='B', aggfunc='sum')
# Resultado: DataFrame con la suma de 'C' y 'D' para cada combinación de 'A' y 'B'
print(tabla_pivotante_multiple)

      C         D
B   one two   one  two
A
bar   8   4  11.0  5.5
foo   6   3   9.0  4.5

Además, es posible manejar datos faltantes en la tabla pivotante utilizando los parámetros ``fill_value`` y ``dropna``. El parámetro ``fill_value`` permite especificar un valor para reemplazar los datos faltantes, mientras que dropna elimina las entradas con todos los valores nulos:

In [12]:
tabla_pivotante_con_relleno = df.pivot_table(values='D', index='A', columns='B', aggfunc='mean', fill_value=0)
# Resultado: DataFrame con la media de 'D' y los valores nulos reemplazados por 0
print(tabla_pivotante_con_relleno)

B    one  two
A
bar  5.5  5.5
foo  4.5  4.5

Para un mayor control sobre las agregaciones, se puede usar el parámetro margins, que añade totales de fila y columna a la tabla pivotante:

In [15]:
tabla_pivotante_con_totales = df.pivot_table(values='D', index='A', columns='B', aggfunc='mean', margins=True)
# Resultado: DataFrame con la media de 'D' y totales de fila y columna
print(tabla_pivotante_con_totales)

B    one  two  All
A
bar  5.5  5.5  5.5
foo  4.5  4.5  4.5
All  5.0  5.0  5.0

Cuando se trabaja con múltiples índices y columnas, las tablas pivotantes pueden ser más complejas. A continuación, se muestra un ejemplo de cómo crear una tabla pivotante con múltiples índices:

In [18]:
df_multi = pd.DataFrame({
    'A': ['foo', 'foo', 'foo', 'bar', 'bar', 'bar'],
    'B': ['one', 'one', 'two', 'one', 'one', 'two'],
    'C': ['small', 'large', 'small', 'small', 'large', 'small'],
    'D': [1, 2, 3, 4, 5, 6],
    'E': [2.5, 3.5, 4.5, 5.5, 6.5, 7.5]
})

tabla_pivotante_multi = df_multi.pivot_table(values='E', index=['A', 'B'], columns='C', aggfunc='mean')
# Resultado: DataFrame con la media de 'E' para cada combinación de 'A' y 'B' y 'C'
print(tabla_pivotante_multi)

C        large  small
A   B
bar one    6.5    5.5
    two    NaN    7.5
foo one    3.5    2.5
    two    NaN    4.5