### Manejo de datos faltantes:

``isnull()``: Detecta valores faltantes.  
**``dropna()``: Elimina filas o columnas con valores faltantes.**  
``fillna()``: Rellena valores faltantes.

In [35]:
import pandas as pd
import numpy as np  #  np.nan

df = pd.DataFrame({
    'Ciudad': ['Madrid', None, 'Madrid', 'Barcelona', 'Madrid'], #pandas
    'Nombre': ['Ana', 'Juan', 'Anaa', 'Laura', 'Carlos'], 
    'Años': [23, 25, np.nan, 30, 22] #numpy
})
print(df)

# Detectar valores faltantes
faltantes = df.isnull()
print("\n", faltantes)

# Eliminar filas con valores faltantes
df_sin_na = df.dropna()
print("\n", df_sin_na)

# Rellenar valores faltantes, en este caso con la media de la columna años y lo demas que ponga desconocido
df_relleno = df.fillna(value={'Años': df['Años'].mean()}).fillna("Desconocido")
print("\n", df_relleno)

      Ciudad  Nombre  Años
0     Madrid     Ana  23.0
1       None    Juan  25.0
2     Madrid    Anaa   NaN
3  Barcelona   Laura  30.0
4     Madrid  Carlos  22.0

    Ciudad  Nombre   Años
0   False   False  False
1    True   False  False
2   False   False   True
3   False   False  False
4   False   False  False

       Ciudad  Nombre  Años
0     Madrid     Ana  23.0
3  Barcelona   Laura  30.0
4     Madrid  Carlos  22.0

         Ciudad  Nombre  Años
0       Madrid     Ana  23.0
1  Desconocido    Juan  25.0
2       Madrid    Anaa  25.0
3    Barcelona   Laura  30.0
4       Madrid  Carlos  22.0

Para GETECOM  
``dropna()``: Elimina filas o columnas con valores faltantes.