### Agrupación y agregación de datos:

``groupby()``: Agrupa los datos por una o más columnas.  
``agg()``: Aplica funciones de agregación a los grupos.  
``pivot_table()``: Crea una tabla pivote.

In [ ]:
import pandas as pd

df = pd.DataFrame({
    'Ciudad': ['Madrid', 'Barcelona', 'Madrid', 'Barcelona', 'Madrid'],
    'Nombre': ['Ana', 'Juan', 'Pedro', 'Laura', 'Carlos'],
    'Años': [23, 25, 28, 30, 22]
})

# Agrupar por una columna y calcular la media de 'Años'
media_edad = df.groupby('Ciudad')['Años'].mean()
print("Media de años por ciudad:")
print(media_edad)

# Aplicar múltiples funciones de agregación
agg_funcs = df.groupby('Ciudad')['Años'].agg(['mean', 'sum', 'count'])
print("\nFunciones de agregación (media, suma, cuenta):")
print(agg_funcs)

# Crear una tabla pivote
tabla_pivote = df.pivot_table(values='Años', index='Ciudad', columns='Nombre', aggfunc='mean')
print("\nTabla pivote de años por ciudad y nombre:")
print(tabla_pivote)