## Operaciones de ventana:  

``rolling()``: Calcula operaciones sobre ventanas deslizantes.  
``expanding()``: Calcula operaciones sobre ventanas acumulativas.  
``ewm()``: Calcula operaciones sobre ventanas exponencialmente ponderadas.

In [4]:
import pandas as pd

df = pd.DataFrame({
    'Ciudad': ['Madrid', 'Cáceres', 'Madrid', 'Barcelona', 'Madrid'], 
    'Nombre': ['Ana', 'Juan', 'Anaa', 'Laura', 'Carlos'], 
    'Años': [23, 25, 40, 30, 22]
})
print(df)

# Calcular media móvil con una ventana de 3 periodos
df['media_movil'] = df['Años'].rolling(window=3).mean()
print('\n', df)


# Calcular suma acumulativa
df['suma_acumulativa'] = df['Años'].expanding().sum()
print('\n', df)

# Calcular media exponencialmente ponderada
df['media_ewm'] = df['Años'].ewm(span=3).mean()
print('\n', df)

      Ciudad  Nombre  Años
0     Madrid     Ana    23
1    Cáceres    Juan    25
2     Madrid    Anaa    40
3  Barcelona   Laura    30
4     Madrid  Carlos    22

       Ciudad  Nombre  Años  media_movil
0     Madrid     Ana    23          NaN
1    Cáceres    Juan    25          NaN
2     Madrid    Anaa    40    29.333333
3  Barcelona   Laura    30    31.666667
4     Madrid  Carlos    22    30.666667

       Ciudad  Nombre  Años  media_movil  suma_acumulativa
0     Madrid     Ana    23          NaN              23.0
1    Cáceres    Juan    25          NaN              48.0
2     Madrid    Anaa    40    29.333333              88.0
3  Barcelona   Laura    30    31.666667             118.0
4     Madrid  Carlos    22    30.666667             140.0

       Ciudad  Nombre  Años  media_movil  suma_acumulativa  media_ewm
0     Madrid     Ana    23          NaN              23.0  23.000000
1    Cáceres    Juan    25          NaN              48.0  24.333333
2     Madrid    Anaa    40    29.333333              88.0  33.285714
3  Barcelona   Laura    30    31.666667             118.0  31.533333
4     Madrid  Carlos    22    30.666667             140.0  26.612903