### Tuples and Sequences
* Inmutable: you cannot add or change elements after creating the tuple
* Ordered: you can sort the elements
* You can include ***different data types*** (heterogeneous sequence)  
* Tuples may be nested

A tuple consists of a number of values separated by commas, for instance:

In [6]:
def printtuple():
    t = 12345, 54321, 'hello!'
    t[0]
    print(t)
    print(t[0])
printtuple()

(12345, 54321, 'hello!')
12345

* Tuples may be nested

In [10]:
def printnestedtuple():
    t = 12345, 54321, 'hello!'
    u = t, (1, 2, 3, 4, 5)
    print(u)
printnestedtuple()

((12345, 54321, 'hello!'), (1, 2, 3, 4, 5))

* Tuples are inmutable

In [9]:
t = 12345, 54321, 'hello!'
t[0] = 1

TypeError: 'tuple' object does not support item assignment