# Atributos de DataFrames
Los DataFrames en Pandas cuentan con varios atributos que permiten acceder a información importante sobre su estructura y contenido. Estos atributos proporcionan detalles sobre las dimensiones, tipos de datos, etiquetas de filas y columnas, entre otros aspectos. A continuación, se describen los principales atributos de los DataFrames:

* ``shape``: Este atributo devuelve una tupla que representa las dimensiones del DataFrame, donde el primer elemento es el número de filas y el segundo es el número de columnas.

In [4]:
import pandas as pd

data = {'Nombre': ['Ana', 'Luis', 'Marta'], 'Edad': [23, 35, 29]}
df = pd.DataFrame(data)
print(df.shape)  # Salida: (3, 2)

(3, 2)

* ``size``: Este atributo devuelve el número total de elementos en el DataFrame (filas multiplicadas por columnas).

In [7]:
print(df.size)  # Salida: 6

6

* ``ndim:`` Este atributo devuelve el número de dimensiones del DataFrame, que siempre será 2 para los DataFrames.

In [10]:
print(df.ndim)

2

* <span style="background-color: yellow">``columns``: Este atributo devuelve un Index con las etiquetas de las columnas del DataFrame.</span>

In [13]:
print(df.columns)

Index(['Nombre', 'Edad'], dtype='object')

* ``index``: Este atributo devuelve un Index con las etiquetas de las filas del DataFrame.

In [16]:
print(df.index)

RangeIndex(start=0, stop=3, step=1)

* ``dtypes``: Este atributo devuelve una serie con los tipos de datos de cada columna del DataFrame.

In [19]:
print(df.dtypes)

Nombre    object
Edad       int64
dtype: object

* ``values``: Este atributo devuelve una representación en forma de array de NumPy de los datos del DataFrame. Nota: Aunque el atributo values sigue funcionando, se recomienda utilizar el método to_numpy() por ser más flexible y seguro en ciertas operaciones.

In [22]:
print(df.values)

[['Ana' 23]
 ['Luis' 35]
 ['Marta' 29]]

* ``T``: Este atributo devuelve la transposición del DataFrame, intercambiando filas por columnas.

In [27]:
print(df.T)

          0     1      2
Nombre  Ana  Luis  Marta
Edad     23    35     29

* ``head(n)``: Este método (aunque no es un atributo, es útil mencionarlo) devuelve las primeras n filas del DataFrame. Por defecto, n es 5.

In [30]:
print(df.head(2))

  Nombre  Edad
0    Ana    23
1   Luis    35

* ``tail(n)``: Similar a head, este método devuelve las últimas n filas del DataFrame.

In [33]:
print(df.tail(2))

  Nombre  Edad
1   Luis    35
2  Marta    29

* ``memory_usage(deep=True)``: Este atributo devuelve una serie con el uso de memoria de cada columna en bytes. Si deep=True, incluye el uso de memoria de objetos.

In [36]:
print(df.memory_usage(deep=True))

Index     132
Nombre    159
Edad       24
dtype: int64

* ``empty``: Este atributo devuelve True si el DataFrame está vacío (no contiene elementos) y False en caso contrario.

In [39]:
print(df.empty)

False