# ¿Qué son los DataFrames en Pandas y para qué sirven?
Los DataFrames en Pandas son estructuras bidimensionales que permiten almacenar y manipular datos tabulares de manera eficiente. Estas estructuras son similares a las tablas en bases de datos o a las hojas de cálculo en Excel, y están diseñadas para manejar grandes volúmenes de datos de forma flexible y optimizada.

Un DataFrame se compone de filas y columnas, donde cada columna puede contener diferentes tipos de datos (números, cadenas, booleanos, etc.). Los DataFrames son fundamentales en el análisis de datos porque permiten realizar operaciones complejas de selección, filtrado, agregación y transformación de datos de manera sencilla y rápida.

In [2]:
import pandas as pd

# Crear un DataFrame a partir de un diccionario
data = {
    'Nombre': ['Ana', 'Luis', 'Marta'],
    'Edad': [23, 35, 29],
    'Ciudad': ['Madrid', 'Barcelona', 'Valencia']
}
df = pd.DataFrame(data)

# Mostrar el DataFrame
print(df)

# Seleccionar una columna
print(df['Nombre'])

# Filtrar filas donde la edad es mayor de 25
filtered_df = df[df['Edad'] > 25]
print(filtered_df)

# Añadir una nueva columna
df['Salario'] = [50000, 60000, 55000]
print(df)

# Eliminar una columna sin usar inplace=True
df = df.drop(columns=['Ciudad'])
print(df)

  Nombre  Edad     Ciudad
0    Ana    23     Madrid
1   Luis    35  Barcelona
2  Marta    29   Valencia
0      Ana
1     Luis
2    Marta
Name: Nombre, dtype: object
  Nombre  Edad     Ciudad
1   Luis    35  Barcelona
2  Marta    29   Valencia
  Nombre  Edad     Ciudad  Salario
0    Ana    23     Madrid    50000
1   Luis    35  Barcelona    60000
2  Marta    29   Valencia    55000
  Nombre  Edad  Salario
0    Ana    23    50000
1   Luis    35    60000
2  Marta    29    55000

### Formas de crear DataFrames

#### 1. Crear DataFrames a partir de diccionarios:

In [6]:
import pandas as pd

data = {
    'Nombre': ['Ana', 'Luis', 'Marta'],
    'Edad': [23, 35, 29],
    'Ciudad': ['Madrid', 'Barcelona', 'Valencia']
}
df = pd.DataFrame(data)
print(df)

  Nombre  Edad     Ciudad
0    Ana    23     Madrid
1   Luis    35  Barcelona
2  Marta    29   Valencia

#### 2. Crear DataFrames a partir de listas de listas:

In [9]:
data = [
    ['Ana', 23, 'Madrid'],
    ['Luis', 35, 'Barcelona'],
    ['Marta', 29, 'Valencia']
]
df = pd.DataFrame(data, columns=['Nombre', 'Edad', 'Ciudad'])
print(df)

  Nombre  Edad     Ciudad
0    Ana    23     Madrid
1   Luis    35  Barcelona
2  Marta    29   Valencia

#### 3. Crear DataFrames a partir de listas de diccionarios:

In [12]:
data = [
    {'Nombre': 'Ana', 'Edad': 23, 'Ciudad': 'Madrid'},
    {'Nombre': 'Luis', 'Edad': 35, 'Ciudad': 'Barcelona'},
    {'Nombre': 'Marta', 'Edad': 29, 'Ciudad': 'Valencia'}
]
df = pd.DataFrame(data)
print(df)

  Nombre  Edad     Ciudad
0    Ana    23     Madrid
1   Luis    35  Barcelona
2  Marta    29   Valencia

#### 4. Crear DataFrames a partir de arrays de NumPy:

In [15]:
import pandas as pd
import numpy as np

data = np.array([
    ['Ana', 23, 'Madrid'],
    ['Luis', 35, 'Barcelona'],
    ['Marta', 29, 'Valencia']
])
df = pd.DataFrame(data, columns=['Nombre', 'Edad', 'Ciudad'])
print(df)

  Nombre Edad     Ciudad
0    Ana   23     Madrid
1   Luis   35  Barcelona
2  Marta   29   Valencia

#### 5. Crear DataFrames a partir de series de Pandas:
Se pueden combinar múltiples series de Pandas en un solo DataFrame. Cada serie se convierte en una columna del DataFrame.

In [19]:
nombres = pd.Series(['Ana', 'Luis', 'Marta'])
edades = pd.Series([23, 35, 29])
ciudades = pd.Series(['Madrid', 'Barcelona', 'Valencia'])

df = pd.DataFrame({
    'Nombre': nombres,
    'Edad': edades,
    'Ciudad': ciudades
})
print(df)

  Nombre  Edad     Ciudad
0    Ana    23     Madrid
1   Luis    35  Barcelona
2  Marta    29   Valencia

#### 6. Crear DataFrames a partir de archivos CSV:

In [ ]:
df = pd.read_csv('ruta_al_archivo.csv')
print(df)

#### 7. Crear DataFrames a partir de otros formatos de archivo:

In [ ]:
# Desde un archivo Excel
df_excel = pd.read_excel('ruta_al_archivo.xlsx')

# Desde un archivo JSON
df_json = pd.read_json('ruta_al_archivo.json')

# Desde una consulta SQL
import sqlite3

conn = sqlite3.connect('base_de_datos.db')
df_sql = pd.read_sql_query('SELECT * FROM tabla', conn)

####